.app-header{
    background-color: $footerHeaderClr;
    min-height: 5vh;
    grid-row: 1;
    justify-content: space-between;
    >*{
        padding-inline: 2rem;
    }
    nav{
        a{
            padding-inline: 1rem;
        }
    }
}