//color palette

$font-color:#050517;
$spring-green:#56af83;
$dodger-blue:#1098F7;
$highlight-yellow:#FFB400;
$gunmetal:#2B303A;

$electric-blue: #00ffea;
$earthy-orange: #d86b2d;
$solar-yellow: #ffea00;
$antique-gold: #cdaa7d;
$steampunk-brown: #df9b6b;

//layout stuff

$layoutPadding:30px;

$footerHeaderClr:$earthy-orange;